name: Automatic template population

on:
  workflow_dispatch:
  schedule:
    - cron: "0 1 19 1 *"
  push:
    paths:
      - 'assets/template/README.md'

jobs:
  populate:
    runs-on: ubuntu-latest

    env:
      CI_COMMIT_MESSAGE: Automatic template population

    steps:
      - uses: actions/checkout@v4

      - name: Populate age
        run: |
          AGE=$((($(date +%s) - $(date -d "2006-01-19" +%s)) / 31556926))
          sed "s/{{AGE}}/$AGE/" ./assets/template/README.md > ./README.md

      - name: Set git identity
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Commit and Push to GitHub
        run: |
          git add README.md
          git commit -m "${{ env.CI_COMMIT_MESSAGE }}" || exit 0
          git push
